.jumbotron {
	
	background-color: $yellow;
	color: black;

	margin-top: 50px;	
}

footer {
	padding: 10px 0px 0px 0px;
	background-color: $yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {

    margin-top: 10px;
	flex: 1 200px;
}

.btn-reserva {

	width:100%;
	border-radius: 0px;
	padding-top: 10px;
}

.footer-adress-icon {

	padding-right: 10px;
}

.reserva-icon {

	padding-right: 10px;
}

.tab-content {

	padding-top: 10px;
}

.sliderin {

	width: 100%;
	height: 300px;
}

.modalclass {

	width:100%;
	border-radius: 100px;
	padding-top: 5px;
}