$yellow: #deed37;


@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddings($top, $derecha, $bottom, $left){
	padding-top: $top;
	padding-right: $derecha;
	padding-bottom: $bottom;
	padding-left: $left;
}

.jumbotron {
	
	background-color: $yellow;
	color: black;
    @include margenes(50px, 0px);	
}

footer {
	@include paddings(10px, 0px, 0px, 0px);
	background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-hotel {

    @include margenes(10px, 0px);
	flex: 1 200px;
}

.btn-reserva {

	width:100%;
	border-radius: 0px;
	@include paddings(10px, 0px, 0px, 0px);
}

.footer-adress-icon {

	@include paddings(0px, 10px, 0px, 0px);
}
.reserva-icon {

	@include paddings(0px, 10px, 0px, 0px);
}

.tab-content {

	@include paddings(10px, 0px, 0px, 0px);
	
}

.sliderin {

	width: 100%;
	height: 300px;
}

.modalclass {

	width:100%;
	border-radius: 100px;
	@include paddings(5px, 0px, 0px, 0px);

}