@yellow: #ffffff;


.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;

}

.paddings(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px); 
  }

footer {
  .paddings(10px, 0px, 0px, 0px);
   background-color: @yellow;
  .margenes(10px, 0px); 
  }

.card-hotel {
  .margenes(10px, 0px);
  flex: 1 200px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  .paddings(10px, 0px, 0px, 0px);
  }

.footer-adress-icon {
  .paddings(0px, 10px, 0px, 0px); }

.reserva-icon {
  .paddings(0px, 10px, 0px, 0px); }

.tab-content {
  .paddings(10px, 0px, 0px, 0px);
  }

.sliderin {
  width: 100%;
  height: 300px; }

.modalclass {
  width: 100%;
  border-radius: 100px;
  .paddings(5px, 0px, 0px, 0px); }