.jumbotron {
  background-color: #deed37;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #deed37;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  margin-top: 10px;
  margin-bottom: 0px;
  flex: 1 200px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

.footer-adress-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.reserva-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

.sliderin {
  width: 100%;
  height: 300px; }

.modalclass {
  width: 100%;
  border-radius: 100px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
